@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* -----Variables----- */
:root{
    /*-----Colores-----*/
    --siman: #d02d37;
    --oldSiman: #a83338;
    --dark: #1f1f1f;
    --bg-light: #f8f8f8;
    --white: #fff;
    --black: #000;
    --gray: #666;
    --color-link: #007bff;
    --color-link-hover: #0056b3;
    /*-----Fuentes-----*/
    --fontTwo: "Ubuntu", sans-serif;
    --fontThree: "Poppins", sans-serif;
    --fontFour: "Kalam", sans-serif;
    --fontFive: "Inconsolata", sans-serif;
}

/*-----Header-----*/

.container-header{
    width: 100%;
    height: 10vh;
    background-color: var(--oldSiman);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--fontFour);

    & .container-navbar{
        width: auto;
        display: flex;
        justify-content: space-between;

        & .item-navbar{
            color: var(--white);
            text-decoration: none;
            padding: 1rem;

            &:hover{
                color: var(--oldSiman);
                background-color: var(--white);
                transition: background-color 1s , color 1s;
            }
        }
    }

    & .container-logo{
        width: 15%;
        margin-left: 1rem;

        & .img-logo{
            object-fit: cover;
            color: var(--white);
        }
    }
}

/*-----Container Main-----*/

.container-main{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(209, 209, 209, 0.055), rgba(255, 157, 157, 0.123)), url(https://res.cloudinary.com/dklpgm5tu/image/upload/v1723693351/recetario/kig6ihttwqnsnvju1ab2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;

    & h1{
        font-family: var(--fontFour);
        font-size: 3rem;
        color: var(--dark);
    }
}

/*-----Section-----*/

.container-section{
    padding: 1.5rem 1.5rem;
    background-color: var(--white);
    display: grid;
    grid-template-areas: 
    "secOne secTwo secFour"
    "secOne secThree secFour"
    ;
    align-items: center;

    & .container1{
        grid-area: secOne;
        width: 100%;
        height: 80vh;
        background-image: url(https://res.cloudinary.com/dklpgm5tu/image/upload/v1723642369/recetario/aihivahqqak7btspbdc5.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    & .container2{
        grid-area: secTwo;
        width: 100%;
        height: 40vh;
        background-image: url(https://res.cloudinary.com/dklpgm5tu/image/upload/v1723642368/recetario/diivuegxin4asa5q9emg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    & .container3{
        grid-area: secThree;
        width: 100%;
        height: 40vh;
        background-image: url(https://res.cloudinary.com/dklpgm5tu/image/upload/v1723642369/recetario/wszg6xnbdmeds6ooj7ht.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    & .container4{
        grid-area: secFour;
        width: 100%;
        height: 80vh;
        background-image: url(https://res.cloudinary.com/dklpgm5tu/image/upload/v1723642662/recetario/zllqwxkn96actsv2xq7u.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        text-align: center;
    }

    & .container{
        & a{
            display: block;
            text-decoration: none;
            color: var(--dark);
            font-family: var(--fontTwo);
            font-size: 2rem;
            padding: 3rem;
        }
    }
}

/*-----Targets-----*/

.container-section2 {
    text-align: center;
    margin: 1rem 0px;

    & h2{
        padding: 1rem;
        font-family: var(--fontTwo);
    }

    & .container-targets{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    & .target {
        width: 300px;
        max-width: 100%;
        background-color: var(--white);
        padding: 1.5rem;
        margin-bottom: 1rem;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
        display: flex;
        flex-direction: column;
        gap: 1rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
        }

        & .cont-target-img {
            background-color: var(--bg-light);
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;

            & .target-img {
                width: 100%;
                height: 250px;
                object-fit: contain;
                border-radius: 8px;
                transition: transform 0.3s ease;
            }

            &:hover .target-img {
                transform: scale(1.03);
            }
        }
        
        & .target-info {
            width: 100%;
            padding: 1rem;
            background-color: var(--bg-light);

            & .target-title {
                font-family: var(--fontTwo);
                font-size: 1.4rem;
                padding-bottom: 0.5rem;
                color: var(--gray);
                letter-spacing: 0.5px;
                margin-bottom: 0.5rem;
                border-bottom: 1px solid #ccc
            }

            & .target-price {
                font-family: var(--fontTwo);
                color: var(--gray);
                font-size: 1.2rem;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            & .btn-buy {
                font-family: var(--fontTwo);
                text-decoration: none;
                display: inline-block;
                width: 100%;
                padding: 0.85rem;
                background-color: var(--siman);
                color: var(--white);
                text-align: center;
                border-radius: 8px;
                transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
                font-weight: bold;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        
                & :hover {
                    background-color: var(--gray);
                    transform: translateY(-3px);
                    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }   
}

/*-----Mediaqueris-----*/

@media (min-width: 320px) and (max-width: 576px){
    .container-header .container-logo{
        width: 15%;
        height: 100%;
        background-image: url(https://res.cloudinary.com/dklpgm5tu/image/upload/v1723086984/recetario/in77cnsxvy3dkg2275ng.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-left: 1rem;
    }    

    .container-header .container-logo .img-logo{
        opacity: 0;
        color: var(--white);
    }

    .container-section{
        display: grid;
        grid-template-areas: 
        "secOne"
        "secTwo"
        "secThree"
        "secFour"
        ;
    }

    .target {
        width: 90%;
        padding: 1rem;
    }
}
